<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}?=v1.1">
</head>



<body>

    <header>

        <div class="testiCentrali">
            <span class="nome">PARTHENOPE</span>
            <span class="subNome">TECH</span>
        </div>

        <div class="status">
            <span class="stato">OFFLINE &nbsp &nbsp &nbsp|&nbsp&nbsp&nbsp </span>
            <span class="data">18/12/2026 18:07:34</span>
        </div>

    </header>


    <div class="dashboard">

        <div class="card">

            <div class="rigaSuperiore">
                <div class="sfondoDietroIcona">
                    <img src="{{ url_for('static', filename='img/iconaTachimetro.png') }}" class="icona-svg"
                        alt="Velocità">
                </div>
                <span class="nomeRiquadro">VELOCITÀ</span>
            </div>
            <div class="valore-centrale">
                <span class="valori">96.6</span>
                <span class="unita">km/h</span>
            </div>
        </div>



        <div class="card">

            <div class="rigaSuperiore">
                <img src="{{ url_for('static', filename='img/direzione.png') }}" class="icona-svg" alt="Velocità">
                <span class="nomeRiquadro">VELOCITÀ</span>
            </div>
            <div class="valore-centrale">
                <span class="valori">96.6</span>
                <span class="unita">km/h</span>
            </div>
        </div>

        <div class="card">

            <div class="rigaSuperiore">
                <img src="{{ url_for('static', filename='img/temperatura.png') }}" class="icona-svg" alt="Velocità">
                <span class="nomeRiquadro">VELOCITÀ</span>
            </div>
            <div class="valore-centrale">
                <span class="valori">96.6</span>
                <span class="unita">km/h</span>
            </div>
        </div>


        <div class="card">

            <div class="rigaSuperiore">
                <img src="{{ url_for('static', filename='img/umidita.png') }}" class="icona-svg" alt="Velocità">
                <span class="nomeRiquadro">VELOCITÀ</span>
            </div>
            <div class="valore-centrale">
                <span class="valori">96.6</span>
                <span class="unita">km/h</span>
            </div>
        </div>


        <div class="card">

            <div class="rigaSuperiore">
                <img src="{{ url_for('static', filename='img/gauge.svg') }}" class="icona-svg" alt="Velocità">
                <span class="nomeRiquadro">VELOCITÀ</span>
            </div>
            <div class="valore-centrale">
                <span class="valori">96.6</span>
                <span class="unita">km/h</span>
            </div>
        </div>


        <div class="card">

            <div class="rigaSuperiore">
                <img src="{{ url_for('static', filename='img/gauge.svg') }}" class="icona-svg" alt="Velocità">

                <span class="nomeRiquadro">VELOCITÀ</span>
            </div>
            <div class="valore-centrale">
                <span class="valori">96.6</span>
                <span class="unita">km/h</span>
            </div>
        </div>

    </div>






    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>